.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .background-image {
    display: inline-block;
    background-image: url('https://thumbs.dreamstime.com/b/tourists-traveling-small-boat-along-ngo-dong-river-vietnam-ninh-binh-province-october-boats-tam-coc-portion-rowers-85697361.jpg?w=992');
    background-size: cover;
    background-position: center;
    margin-top: -10rem;
    width: 100rem;
    height: 40rem;
  }
  
  .content {
    text-align: center;
    margin-top: -50vh;
    color: white;
  }
  
  h1 {
    font-size: 32px;
  }
  
  p {
    font-size: 18px;
    margin-top: 16px;
  }
  